<launch>
    <arg name="robot_namespace" default="/markhor/tracks" />
    <!-- Load robot model-->
    <param name="robot_description" command="xacro '$(find markhor_description)/urdf/markhor.urdf.xacro'" />

    <!-- Load hardware interface-->
    <node name="markhor_tracks_node" pkg="markhor_tracks" type="markhor_tracks_node" ns="$(arg robot_namespace)" output="screen">
        <param name="front_left" type="int" value="21" />
        <param name="front_right" type="int" value="22" />
        <param name="rear_left" type="int" value="23" />
        <param name="rear_right" type="int" value="24" />
        <param name="log_throttle_speed" type="int" value="1"/>
        <param name="kp" type="double" value="0.2" />
        <param name="ki" type="double" value="0.01" />
        <param name="kd" type="double" value="0" />
        <param name="integral_max" type="double" value="10000" />
        <param name="integral_zone" type="double" value="1500" />
        <param name="fb_coeff" type="double" value="0.04" />
        <param name="allowable_closedloop_error" type="int" value="1"/>
    </node>

    <!-- Load controller config -->
    <rosparam command="load" file="$(find markhor_control)/config/tracks.yaml" />

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen" ns="$(arg robot_namespace)" args="diff_drive_controller" />
</launch>
