<launch>
    <include file="$(find capra_estop)/launch/estop.launch" />
    
    <include file="$(find markhor_bringup)/launch/teleop_twist_joy.launch" />
    <include file="$(find markhor_bringup)/launch/tpv_controller.launch" />
    <include file="$(find markhor_bringup)/launch/markhor_web_ui.launch" />
    <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" respawn="false"/>
    <include file="$(find markhor_bringup)/launch/cameras/markhor_all_cameras.launch" />
    <include file="$(find zed_wrapper)/launch/zed2i.launch" />
</launch>