<launch>
    <!-- markhor_estop will become capra_estop in time. -->
    <include file="$(find markhor_estop)/launch/estop.launch" />

    <include file="$(find markhor_bringup)/launch/markhor_web_ui.launch" />
    <!-- Missing ele fix-->
    <!-- <include file ="$(find capra_headlights)/launch/headlights.launch"/> -->

    <include file="$(find markhor_bringup)/launch/markhor_controllers.launch" />
    <!-- Lock missing -->
    <!-- markhor_tracks and markhor_flippers are the future names for these packages/nodes.-->
    <include file="$(find markhor_tracks)/launch/tracks_without_controller.launch" />

    <include file="$(find markhor_tracks)/launch/flippers.launch" />
</launch>