<launch>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    </include>
    <node name="web_video_server" pkg="web_video_server" type="web_video_server">
    	<param name="ros_threads" type="int" value="2" />
        <param name="server_threads" type="int" value="2"/>
        <param name="quality" type="int" value="25" />
        <param name="default_transport" type="string" value="compressed"/>
    </node>
</launch>
