<launch>
    <include file="$(find capra_estop)/launch/estop.launch" />
    
    <include file="$(find markhor_bringup)/launch/teleop_twist_joy.launch" />
    <include file="$(find markhor_bringup)/launch/tpv_controller.launch" />
    <include file="$(find markhor_bringup)/launch/markhor_web_ui.launch" />
    <include file="$(find markhor_bringup)/launch/cameras/markhor_all_cameras.launch" />
</launch>