<launch>
    <include file="$(find markhor_bringup)/launch/markhor_common.launch" />

    <include file="$(find markhor_tracks)/launch/tracks.launch" />
    <include file="$(find markhor_flippers)/launch/flippers.launch" />

    <include file="$(find markhor_bringup)/launch/tpv_controller.launch" />

    <include file="$(find markhor_bringup)/launch/cameras/markhor_all_cameras.launch" />
</launch>