<launch>
    <arg name="joy_config" default="xbox" />
    <arg name="config_filepath" default="$(find markhor_bringup)/config/$(arg joy_config).config.yaml" />

    <node pkg="teleop_twist_joy" name="teleop_twist_joy" type="teleop_node">
        <rosparam command="load" file="$(arg config_filepath)" />
        <remap from="cmd_vel" to="/markhor/tracks/diff_drive_controller/cmd_vel" />
    </node>
</launch>