<launch>
    <arg name="robot_namespace" default="/markhor" />
    <arg name="system_namespace" default="/flippers" />

    <!-- <include file="$(find markhor_description)/launch/markhor_ovis.launch" /> -->

    <!-- Load robot model-->
    <param name="robot_description" command="xacro '$(find markhor_description)/urdf/markhor.urdf.xacro'" />

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find markhor_control)/config/simulation_flippers.yaml" command="load" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" ns="$(arg robot_namespace)$(arg system_namespace)"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="$(arg robot_namespace)$(arg system_namespace)" args="joint_state_controller 
                                                flipper_fl_position_controller 
                                                flipper_fr_position_controller 
                                                flipper_rl_position_controller
                                                flipper_rr_position_controller" />

</launch>