SUBSYSTEM=="gpio*", PROGRAM="/bin/sh -c 'chown -R root:gpio /sys/class/gpio && chmod -R 0220 /sys/class/gpio/export /sys/class/gpio/unexport;echo 428 > /sys/class/gpio/export; chown -R root:gpio /sys/class/gpio/gpio428; chmod -R g+wr /sys/class/gpio/gpio428/*;chown -R  root:gpio /sys/class/gpio/gpio428/*; chown -R root:gpio /sys/devices/virtual/gpio && chmod -R 770 /sys/devices/virtual/gpio'"