<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="markhor">
  <!-- Include markhor robot -->
  <xacro:include filename="$(find markhor_description)/urdf/markhor.urdf.xacro"/>
  <xacro:include filename="$(find ovis_description)/urdf/ovis_standalone.xacro"/>



  <joint name="markhor_joint_fix_arm" type="fixed">
    <origin rpy="${pi} ${pi} 0" xyz="0.17394875 0 0.12291060"/>
    <parent link="base_link"/>
    <child link="ovis_root"/>
  </joint>

</robot>
