<launch>
    <arg name="gui" default="true" />
    <!-- load the urdf -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find markhor_description)/rviz/config.rviz"/>
    <param name="robot_description" command="xacro '$(find markhor_description)/urdf/markhor.urdf.xacro'" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>