<?xml version="1.0"?>
<launch>
    <!-- RobotLocalization (Sensor fusion) -->
    <group ns="markhor">
        <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization"
            clear_params="true">
            <rosparam command="load" file="$(find markhor_slam)/config/ekf_localization.yaml" />
        </node>
    </group>

    <!-- Pointcloud to laserscan conversion for slam -->
    <node name="pointcloud_to_laserscan_node" pkg="pointcloud_to_laserscan"
        type="pointcloud_to_laserscan_node" respawn="false" output="screen">
        <remap from="/cloud_in" to="/velodyne_points" />
        <param name="min_height" value="-0.3" />
        <param name="max_height" value="0.3" />
        <param name="angle_min" value="-3.14" />
        <param name="angle_max" value="3.14" />
        <param name="range_min" value="1.2" />
        <param name="range_max" value="10" />
        <param name="use_inf" value="false" />
    </node>

    <arg name="rtabmapviz" default="false" />
    <arg name="camera" default="false" />
    <arg name="lidar3d" default="true" />
    <arg name="lidar3d_ray_tracing" default="true" />
    <arg name="slam2d" default="true" />
    <arg name="depth_from_lidar" default="false" />

    <arg name="cell_size" default="0.1" />


    <arg name="lidar_args"
        default="
      --Reg/Strategy 1
      --RGBD/NeighborLinkRefining true
      --ICP/PM true
      --Icp/PMOutlierRatio 0.7
      --Icp/VoxelSize 0.3
      --Icp/MaxCorrespondenceDistance 1
      --Icp/PointToPlaneGroundNormalsUp 0.9
      --Icp/Iterations 10
      --Icp/Epsilon 0.001
      --OdomF2M/ScanSubtractRadius 0.3
      --OdomF2M/ScanMaxSize 15000
      --Grid/ClusterRadius 1
      --Grid/RangeMax 20
      --Grid/RayTracing $(arg lidar3d_ray_tracing)
      --Grid/MaxObstacleHeight 1.5
      --Grid/CellSize 0.05
      --Icp/PointToPlaneRadius 0
      --Icp/PointToPlaneNormalK 10
      --Icp/MaxTranslation 1" />

    <!---
    Run rtabmap -->
    <remap from="/rtabmap/grid_map" to="/map" />
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">

        <!-- Allows republishing of wifi data points -->
        <arg name="user_data_async_topic" value="/wifi_signal" />

        <arg name="rtabmapviz" value="$(arg rtabmapviz)" />
        <arg name="odom_topic" value="/markhor/odometry/filtered" />

        <!-- Frame definition -->
        <arg name="frame_id" value="base_link" />

        <!-- SLAM -->
        <arg name="args" value="--Reg/Force3DoF $(arg lidar_args) -d" />

        <!-- Input data -->
        <arg name="imu_topic" value="/vectornav/IMU" />
        <arg name="scan_cloud_assembling_range_min" value="1.0" />
        <arg name="scan_cloud_assembling_range_max" value="10.0" />

        <!-- 3D LiDAR -->
        <arg name="subscribe_scan_cloud" value="$(arg lidar3d)" />
        <arg name="scan_cloud_topic" value="/velodyne_points" />

        <!-- If camera is used -->
        <arg name="depth" value="$(eval camera and not depth_from_lidar)" />
        <arg name="subscribe_rgb" value="$(eval camera)" />
        <arg name="rgbd_sync" value="$(eval camera and not depth_from_lidar)" />
        <arg name="rgb_topic" value="/zed2i/zed_node/rgb/image_rect_color" />
        <arg name="camera_info_topic" value="/zed2i/zed_node/rgb/camera_info" />
        <arg name="depth_topic" value="/zed2i/zed_node/depth/depth_registered" />
        <arg name="depth_camera_info_topic" default="/zed2i/zed_node/depth/camera_info" />

        <arg name="approx_rgbd_sync" value="false" />

        <!-- If icp_odometry is used -->
        <arg name="icp_odometry" value="true" />
        <arg name="odom_guess_frame_id" value="odom" />
        <arg name="vo_frame_id" value="icp_odom" />
        <arg name="odom_args" value="--Icp/CorrespondenceRatio 0.01" />
    </include>
</launch>