<launch>
    <node pkg="markhor_heartbeat" type="markhor_heartbeat_node" name="markhor_heartbeat_node" ns="/markhor" output="screen">
        <param name="heartbeat_interval" type="int" value="1000" /> 
        <param name="ui_timeout" type="int" value="45000" />
        <param name="navigation_timeout" type="int" value="5000" />
    </node>
</launch>