<launch>
    <node pkg="markhor_heartbeat" type="markhor_heartbeat_node" name="markhor_heartbeat_node" ns="/markhor/heartbeat" output="screen">
        <param name="heartbeat_interval" type="int" value="500" /> 
        <param name="heartbeat_timeout" type="int" value="1500" />
    </node>
</launch>