<launch>
    <param name="/use_sim_time" value="true" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find markhor_gazebo)/worlds/simple.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
        <arg name="verbose" value="true"/>
    </include>

    <param name="robot_description" command="xacro '$(find markhor_description)/urdf/markhor.urdf.xacro'" />

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="
    -param robot_description -urdf -model markhor" />

    <include file="$(find markhor_control)/launch/flipper_control.launch" />

    <!-- <include file="$(find markhor_control)/launch/diff_drive_control.launch" /> -->

    <!-- <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="
    -param robot_description -urdf -model markhor
    -z 0.085
    -J ovis_joint_2 -1.57
    -J ovis_joint_3 1.57
    -J markhor_joint_flip_fl -180.0
    -J markhor_joint_flip_fr -180.0
    -J markhor_joint_flip_rl -180.0
    -J markhor_joint_flip_rr -180.0" /> -->

</launch>
