<launch>
    <arg name="namespace" default="/markhor" />
    <!-- Load robot model-->
    <param name="robot_description" command="xacro '$(find markhor_description)/urdf/markhor.urdf.xacro'" />

    <!-- Load hardware interface-->>
    <node name="markhor_base_node" pkg="markhor_base" type="markhor_base_node" ns="$(arg namespace)"/>

    <!-- Load controller config -->
    <rosparam command="load" file="$(find markhor_control)/config/diff_drive.yaml"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen" ns="$(arg namespace)" args="diff_drive_controller"/>

</launch>