<launch>
  <!-- Define default values for the base global planner and base local planner -->
  <arg name="base_global_planner" default="navfn/NavfnROS" />
  <arg name="base_local_planner" default="dwa_local_planner/DWAPlannerROS" />

  <!-- Launch the move_base node (Navigation core) -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <!-- Remap the 'cmd_vel' and 'odom' topics to the appropriate topics for the robot -->
    <remap from="cmd_vel" to="/markhor/tracks/diff_drive_controller/cmd_vel" />
    <remap from="odom" to="/markhor/tracks/diff_drive_controller/odom" />

    <!-- Set the global and local planners using the previously defined arguments -->
    <param name="base_global_planner" value="$(arg base_global_planner)" />
    <param name="base_local_planner" value="$(arg base_local_planner)" />
    <!-- Load the planner configuration file -->
    <rosparam file="$(find markhor_navigation)/config/planner.yaml" command="load" />

    <!-- Load the costmap_common configuration file for global_costmap and local_costmap -->
    <rosparam file="$(find markhor_navigation)/config/costmap_common.yaml" command="load"
      ns="global_costmap" />
    <rosparam file="$(find markhor_navigation)/config/costmap_common.yaml" command="load"
      ns="local_costmap" />

    <!-- Load the costmap_local configuration file and set local_costmap dimensions -->
    <rosparam file="$(find markhor_navigation)/config/costmap_local.yaml" command="load"
      ns="local_costmap" />
    <param name="local_costmap/width" value="10.0" />
    <param name="local_costmap/height" value="10.0" />

    <!-- Load the costmap_global_laser configuration file and set global_costmap dimensions -->
    <rosparam file="$(find markhor_navigation)/config/costmap_global_laser.yaml" command="load"
      ns="global_costmap" />
    <param name="global_costmap/width" value="100.0" />
    <param name="global_costmap/height" value="100.0" />

  </node>

  <!-- Start markhor boundary exploration server -->
  <include file="$(find exploration_server)/launch/exploration.launch" /> 


  <!-- Start markhor exploration service -->
  <node pkg="markhor_navigation" type="explore_and_return.py" name="explore_and_return"
    output="screen" /> 

</launch>