<launch>
    <arg name="robot_namespace" default="/markhor" />
    <!-- Load robot model-->
    <param name="robot_description" command="xacro '$(find markhor_description)/urdf/markhor.urdf.xacro'" />

    <!-- Load hardware interface-->
    <node name="markhor_base_flipper_node" pkg="markhor_base_flipper" type="markhor_base_flipper_node" ns="$(arg robot_namespace)" output="screen">
        <param name="front_left" type="int" value="11" />
        <param name="front_right" type="int" value="12" />
        <param name="rear_left" type="int" value="13" />
        <param name="rear_right" type="int" value="14" />
        <!-- <param name="kP" type="double" value="1.0" />
        <param name="kI" type="double" value="0" />
        <param name="kD" type="double" value="0" /> -->
        <!-- <param name="ratio" type="double" value="10" /> -->
    </node>

    <!-- Load controller config -->
    <rosparam command="load" file="$(find markhor_control)/config/control_flipper.yaml" />

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen" ns="$(arg robot_namespace)" args="joint_state_controller 
    flipper_fl_position_controller
    flipper_fr_position_controller
    flipper_rl_position_controller
    flipper_rr_position_controller" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" ns="$(arg robot_namespace)" respawn="false" output="screen" />
</launch>